#body {
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  display: block;
}

.pointer {
  cursor: pointer;
}

.border-blue {
  border: solid #1e87f0 1px;
}


@media screen and (max-width: 1024px) {
  #body {
    padding-left: 20px;
    padding-right: 20px;
  }

  #searchBox {
    margin-top: 30px !important;
    margin-left: 20px !important;
  }

  #searchButton {
    float: right;
    margin-top: 5px;
  }
}
