<!DOCTYPE html>
<html>
  <head>
    <title>Searchex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'app_style' %>
  </head>

  <body>
    <div style="max-width: 1000px; margin: auto;">
      <%= yield %>
    </div>
  </body>
</html>
